# Ignore node_modules
node_modules/

# Ignore test files
src/build.test.ts
test-files/

# Ignore configuration files
tsconfig.json
tsconfig-build.json
.vscode/
eslint.config.mjs
prettier.config.cjs
vitest.config.ts
.gitignore
.git/
sov_release.config.ts